@import 'bootstrap/scss/bootstrap';

body::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.0);
    width: 8px
}

body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.0)
}

body::-webkit-scrollbar-thumb {
    background-color: #3b7ddd
}

body .modal::-webkit-scrollbar {
    width: 8px
}

body .modal::-webkit-scrollbar-thumb {
    background-color: #fff
}

.w-1 {
    width: 1%;
}

.w-2 {
    width: 49%;
}

.w-3 {
    width: 32.66666666666667%;
}

.w-4 {
    width: 24.5%;
}

.w-5 {
    width: 20%;
}

.w-6 {
    width: 16.6666667%;
}

.w-7 {
    width: 14.2857143%;
}

.w-8 {
    width: 12.5%;
}

.w-9 {
    width: 11.1111111%;
}

.w-10 {
    width: 10%;
}

.modal-90w {
    max-width: 90% !important;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .modal-90w {
        width: 100%;
        max-width: none;
    }
}